<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>inProduction</key>
	<false/>
	<key>developmentAppKey</key>
	<string>Xm6aaB3UR-ipZUvxmRO8PA</string>
	<key>developmentAppSecret</key>
	<string>D8DtfsoaT9-4DkPoGTK2uA</string>
	<key>productionAppKey</key>
	<string>Xm6aaB3UR-ipZUvxmRO8PA</string>
	<key>productionAppSecret</key>
	<string>D8DtfsoaT9-4DkPoGTK2uA</string>
</dict>
</plist>
